html { background: #f5f5f5 url(img/bg.png); }
body {
  margin: 70px auto 0 auto;
  max-width: 450px;
  width: 100%;
}

@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('fonts/ColabThi-webfont.eot');
    src: url('fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabThi-webfont.woff') format('woff'),
         url('fonts/ColabThi-webfont.ttf') format('truetype'),
         url('fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateRegular';
    src: url('fonts/ColabReg-webfont.eot');
    src: url('fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabReg-webfont.woff') format('woff'),
         url('fonts/ColabReg-webfont.ttf') format('truetype'),
         url('fonts/ColabReg-webfont.svg#ColaborateRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Dark theme
 */
.twitter-card.dark {
  box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset;
  background-color: #222;
  border-color: #000;
  color: #a0a0a0;
}
.twitter-card.dark .photo { border-color: #000; }
.twitter-card.dark .name,
.twitter-card.dark a { color: #a0a0a0; }
.twitter-card.dark a:hover { color: #2e7ef6; }
.twitter-card.dark .status {
  box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  background-color: #3b3b3b;
  border-color: #000;
  color: #ccc;
}
.twitter-card.dark .status:after { border-color: transparent transparent transparent #3b3b3b; }
.twitter-card.dark .status:before { border-color: transparent transparent transparent #000; }
.twitter-card.dark .follow-btn { border-top: 1px solid #000; color: #fff; }
.twitter-card.dark .follow-btn:hover { background-color: #4d91f6; color: #fff; }
.twitter-card.dark .follow-btn:active {
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .4), 0 0 20px rgba(0, 0, 0, .5) inset;
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .4), 0 0 20px rgba(0, 0, 0, .5) inset;
  box-shadow:0 1px 0 rgba(255, 255, 255, .4), 0 0 20px rgba(0, 0, 0, .5) inset;
}
/*
 * White theme
 */
.twitter-card.light {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  background-color: #fff;
  border-color: #bbb;
  color: #999;
}
.twitter-card.light .photo { border-color: #000; }
.twitter-card.light .name,
.twitter-card.light a { color: #a0a0a0; }
.twitter-card.light a:hover { color: #2e7ef6; }
.twitter-card.light .status {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  background-color: #e2e2e2;
  border-color: #c3c3c3;
  color: #999;
}
.twitter-card.light .status:after { border-color: transparent transparent transparent #e2e2e2;}
.twitter-card.light .status:before { border-color: transparent transparent transparent #c3c3c3;}
.twitter-card.light .follow-btn { background-color: #68ace5; color: #fff; }
.twitter-card.light .follow-btn:hover { background-color: #6fb8f5; color: #fff; }
.twitter-card.light .follow-btn:active {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2) inset;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2) inset;
}
/*
 * Basic style
 */
.twitter-card {
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'ColaborateRegular';
  max-width: 400px;
  overflow: hidden;
}
.twitter-card a { text-decoration: none; }
.twitter-card .header { padding-left: 79px; }
.twitter-card .header:after { content: ''; display: table; clear: both; }
.twitter-card .info { float: left; }
.twitter-card .photo {
  display: block;
  float: left;
  border-style: solid;
  position: relative;
  border-width: 1px;
  height: 64px;
  width: 64px;
  margin: 0 15px 0 -79px;
}
.twitter-card .photo,
.twitter-card .photo img,
.twitter-card .photo:after {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.twitter-card .photo:after {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.twitter-card .photo img {
  height: 100%;
  width: 100%;
}
.twitter-card .name {
  font-family: 'ColaborateThinRegular';
  font-size: 24px;
}
.twitter-card .name,
.twitter-card .username { display: inline-block; }
.twitter-card .username { font-size: 12px; }
.twitter-card .desc {
  padding: 0;
  font-size: 12px;
  margin: 0
}
.twitter-card .status {
  clear: both;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 13px;
  position: relative;
}
.twitter-card.bubble .status:after,
.twitter-card.bubble .status:before {
  content: '';
  position: absolute;
  left: 30px;
  line-height: 18px;
  bottom: 100%;
  width: 0px;
  height: 0px;
  border-style: solid;
}
.twitter-card.bubble .status:after {
  margin-bottom: -1px;
  border-width: 14px 0 0 14px;
}
.twitter-card.bubble .status:before {
  left: 29px;
  border-width: 15px 0 0 15px;
}
.twitter-card .stats {
  padding: 15px 0;
  text-align: center;
}
.twitter-card .stats span {
  padding: 0 10px;
  font-size: 14px;
}
.twitter-card .follow-btn {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
  background-color: #2e7ef6;
  display: block;
  color: #fff;
  font-size: 22px;
  text-align: center;
  margin: 0 -20px -20px;
  padding: 15px 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.twitter-card.preload * { display: none; }
.twitter-card.preload {
  background-repeat: no-repeat;
  background-position: center center;
}
.twitter-card.dark.preload { background-image: url(img/loader-dark.gif); }
.twitter-card.light.preload { background-image: url(img/loader-light.gif); }